#container {
    text-align: center;
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

#container strong {
    font-size: 20px;
    line-height: 26px;
}

#container p {
    font-size: 16px;
    line-height: 22px;
    color: #FFC966;
    margin: 0;
}

#container a {
    text-decoration: none;
}

ion-content {
    --ion-background-color: #ffffff;
}

ion-header {
    background-color: #FFC966;
    color: #FFC966;
    ion-title {
        background-color: #FFC966;
        color: black;
        font-family: 'Roboto';
        img {
            margin-top: 9px;
            height: 45px;
            width: 50px;
        }
    }
}

ion-icon {
    float: right;
    color: #664200;
    height: 20px;
    width: 20px;
}

ion-footer {
    background-color: #FFC966;
    color: #FFC966;
    ion-title {
        background-color: #FFC966;
        color: black;
        font-family: 'Roboto';
    }
}

.name-logo {
    width: 100%;
    img {
        width: 80%;
        height: 130px;
        padding-left: 100px;
        padding-top: 20px;
    }
}

ion-card {
    background-color: #F5E5BA;
    height: 300px;
    width: 140px;
    h2 {
        text-align: left;
        font-size: 14px;
        font-weight: bold;
        font-family: 'Roboto';
        color: #664200;
    }
    img {
        height: 100px;
        width: 110px;
        border-radius: 15px;
    }
    h1 {
        font-size: 12px;
        font-family: 'Roboto';
        color: #664200;
    }
    #thirdd {
        background-color: #FFC966;
        padding: 5px;
        border-radius: 7px;
        height: 20px;
        width: 20px;
        color: black;
        float: left;
        margin-top: 5px;
    }
    ion-button {
        text-align: right;
        font-family: 'Roboto';
        color: black;
        background-color: #FFC966;
        height: 30px;
        width: 65px;
        font-size: 12px;
        border-radius: 7px;
    }
}

.one {
    height: 300px;
}

.two {
    height: 310px;
}

.home {
    margin-top: 20px;
    h4 {
        font-family: 'Roboto';
        font-size: 15px;
        float: left;
        margin-left: 35px;
        color: black;
    }
}

.about {
    margin-top: 20px;
    h4 {
        font-family: 'Roboto';
        font-size: 15px;
        float: left;
        margin-left: 20px;
        color: black;
    }
}

.contact {
    margin-top: 20px;
    h4 {
        font-family: 'Roboto';
        font-size: 15px;
        float: left;
        margin-left: 20px;
        color: black;
    }
}

.locate {
    margin-top: 20px;
    h4 {
        font-family: 'Roboto';
        margin-left: 20px;
        font-size: 15px;
        float: left;
        color: black;
    }
}

.fb {
    margin-left: 50px;
    margin-top: 70px;
    #fbb {
        height: 40px;
        float: left;
        width: 40px;
        margin-left: 35px;
        color: black;
    }
}

.insta {
    margin-left: 10px;
    margin-top: 70px;
    #ig {
        height: 40px;
        float: left;
        margin-left: 50px;
        width: 40px;
        color: black;
    }
}

.twit {
    margin-top: 70px;
    #twt {
        height: 40px;
        float: left;
        margin-left: 50px;
        width: 40px;
        color: black;
    }
}

.next-left {
    margin-left: 20px;
    float: left;
    #left {
        height: 50px;
        width: 50px;
        color: #664200;
    }
}

.next-right {
    margin-right: 20px;
    float: right;
    #right {
        height: 50px;
        width: 50px;
        color: #664200;
    }
}